html {
  font-size: 10px;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0.3px;
}

body {
  padding: 20px 40px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 0px 0px -4px 0px;
  padding: 8px 0px 0px 0px;
}

h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 0px 0px -4px 0px;
  padding: 8px 0px 0px 0px;
}

p,
li {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

li {
  margin: 0px 0px 0px 0px;
}

ol li {
  margin: 12px 0px;
}

ul {
  margin: 0px 0px 0px 0px;
}

ul li {
  margin: 6px 0px;
}

ol > li::marker {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: blue;
}

a:focus {
  text-decoration: none;
  color: blue;
}

a:active {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

details > summary {
  color: blue;
  cursor: pointer;
  list-style: none;
  font-size: 15px;
  letter-spacing: 0.3px;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary:hover {
  color: blue;
  text-decoration: underline;
}

details > p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin: 0px;
  padding: 0px;
}

.paper-title {
  color: teal;
  font-style: italic;
  font-weight: 600;
}

video {
  width: 50% !important;
  height: auto !important;
  border: 1px solid #999;
  border-radius: 4px;
}